/* Example for where to add custom app styles */
:root {
    --color-black: #101010FF;
    --color-white: #FFFFFFFF;
    --site-background-color: #333333FF;
    --site-background-offset: var(--color-white);
    --color-title: #b13b3bFF;
    --color-title-offset: var(--color-white);
    --color-primary: #9e091aFF;
    --color-primary-offset: var(--color-white);
    --color-secondary: #2e54ffFF;
    --color-secondary-offset: var(--color-white);
    --color-tertiary: #7d0b77FF;
    --color-tertiary-offset: var(--color-white);
    --color-info: #2196f3FF;
    --color-info-offset: var(--color-white);
    --color-success: #1c970eFF;
    --color-success-offset: var(--color-white);
    --color-warning: rgb(191, 84, 31);
    --color-warning-offset: var(--color-white);
    --color-danger: rgb(183, 5, 5);
    --color-danger-offset: var(--color-white);
    --color-shade: rgba(125, 125, 125, 0.2);
    --color-shade-offset: var(--color-white);
    --color-active: rgb(31, 112, 92);
    --color-active-offset: var(--color-white);
    --color-button: var(--color-info);
    --color-button-offset: var(--color-info-offset);
}

.dropdown {
    display: block;
    position: relative;
    overflow: visible;
}
.dropdown.show > button::before {
    content: " ";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.01);
    z-index: 9999;
}
.dropdown > .dropdown-menu {
    display: flex;
    flex-direction: column;
    gap: 1px;
    position: absolute;
    min-width: 100%;
    width: max-content;
    list-style: none;
    padding: 0px;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: var(--border-radius, 5px);
    z-index: 99999;
    border: 2px solid var(--color-info);
}
.dropdown > .dropdown-menu > li {
    padding: var(--padding);
}
.dropdown > .dropdown-menu > li.selected {
    background-color: var(--color-info);
    color: var(--color-info-offset);
}