@charset "UTF-8";

:root {
    --color-black: #101010FF;
    --color-white: #FFFFFFFF;
    --site-background-color: #333333FF;
    --site-background-offset: var(--color-white);
    --color-title: #b13b3bFF;
    --color-title-offset: var(--color-white);
    --color-primary: #9e091aFF;
    --color-primary-offset: var(--color-white);
    --color-secondary: #2e54ffFF;
    --color-secondary-offset: var(--color-white);
    --color-tertiary: #7d0b77FF;
    --color-tertiary-offset: var(--color-white);
    --color-info: #2196f3FF;
    --color-info-offset: var(--color-white);
    --color-success: #1c970eFF;
    --color-success-offset: var(--color-white);
    --color-warning: rgb(191, 84, 31);
    --color-warning-offset: var(--color-white);
    --color-danger: rgb(183, 5, 5);
    --color-danger-offset: var(--color-white);
    --color-shade: rgba(125, 125, 125, 0.2);
    --color-shade-offset: var(--color-white);
    --color-active: rgb(31, 112, 92);
    --color-active-offset: var(--color-white);
    --color-button: var(--color-info);
    --color-button-offset: var(--color-info-offset);

    --main-transition: 200ms;
    --readability-line-limit: 66ch;
    --backdrop-blur: blur(4px);
    --transition-speed: 180ms;
    --corners: 3px;
    --padding: 5px;
    --nav-transition-in: 300ms;
    --nav-transition-out: 300ms;
    --window-width: 900px;
    --window-height: 900px;
    --main-width: 900px;
    --main-height: 900px;
    --header-height: 0px;
    --footer-height: 0px;
    --elevation-0: none;
    --elevation-1: 0px 0px 1px 1px rgba(0, 0, 0, 0.2);
    --elevation-2: 0px 0px 1px 2px rgba(0, 0, 0, 0.2);
    --elevation-3: 0px 0px 2px 2px rgba(0, 0, 0, 0.2), ;
    --elevation-4: 0px 0px 2px 3px rgba(0, 0, 0, 0.2);
    --elevation-5: 0px 0px 3px 3px rgba(0, 0, 0, 0.2);
    --elevation-6: 0px 0px 3px 4px rgba(0, 0, 0, 0.2);
    --elevation-7: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
    --elevation-8: 0px 0px 4px 5px rgba(0, 0, 0, 0.2);
    --elevation-9: 0px 0px 5px 5px rgba(0, 0, 0, 0.2);
    --elevation-10: 0px 0px 5px 6px rgba(0, 0, 0, 0.2);
    --elevation-11: 0px 0px 6px 6px rgba(0, 0, 0, 0.2);
    --elevation-12: 0px 0px 6px 7px rgba(0, 0, 0, 0.2);
    --elevation-13: 0px 0px 7px 7px rgba(0, 0, 0, 0.2);
    --elevation-14: 0px 0px 7px 8px rgba(0, 0, 0, 0.2);
    --elevation-15: 0px 0px 8px 8px rgba(0, 0, 0, 0.2);
    --elevation-16: 0px 0px 8px 9px rgba(0, 0, 0, 0.2);
    --elevation-17: 0px 0px 9px 9px rgba(0, 0, 0, 0.2);
    --elevation-18: 0px 0px 9px 10px rgba(0, 0, 0, 0.2);
    --elevation-19: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    --elevation-20: 0px 0px 10px 11px rgba(0, 0, 0, 0.2);
    --elevation-21: 0px 0px 11px 11px rgba(0, 0, 0, 0.2);
    --elevation-22: 0px 0px 11px 12px rgba(0, 0, 0, 0.2);
    --elevation-23: 0px 0px 12px 12px rgba(0, 0, 0, 0.2);
    --elevation-24: 0px 0px 12px 13px rgba(0, 0, 0, 0.2);
    --elevation-25: 0px 0px 13px 13px rgba(0, 0, 0, 0.2);
    --default-borderradius: 4px;
    --drawer-width-left: 240px;
    --drawer-width-right: 240px;
    --drawer-width-mini-left: 56px;
    --drawer-width-mini-right: 56px;
    --appbar-height: 64px;
    --typography-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    --typography-size: 1rem;
    --typography-weight: 400;
    --typography-lineheight: 1.33;
    --typography-letterspacing: normal;
}

* {
    box-sizing: border-box;
}

p,
code {
    min-height: 1em;
}

html {
    font-size: var(--typography-size);
}

html,
body,
#app {
    background-color: var(--site-background-color);
    color: var(--site-background-offset);
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    tab-size: 4;
    font-family: var(--typography-family);
    font-weight: var(--typography-weight);
    line-height: var(--typography-lineheight);
    letter-spacing: var(--typography-letterspacing);
}

main,
header,
footer,
iframe,
aside,
section,
div {
    display: block;
}

main {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    max-height: 100%;
    height: calc(var(--window-height) - var(--header-height) - var(--footer-height));
    overflow: hidden;
    transition-property: all;
    transition-duration: var(--main-transition);
}

main>.paper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: var(--padding);
    padding-bottom: calc(var(--padding) + var(--footer-height));
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

main * {
    white-space: pre-wrap;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    background-color: var(--color-title);
    color: var(--color-title-offset);
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.4);
}

footer {
    position: relative;
    background-color: inherit;
}

footer::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-shade);
    z-index: 0;
    box-shadow: 0px 4px 12px 1px inset rgba(0, 0, 0, 0.4);
}

footer>* {
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: var(--typography-size);
    margin: 0;
    padding: 0;
    border-radius: var(--corners) var(--corners) 0 0;
}

main h1,
main h2,
main h3,
main h4,
main h5,
main h6 {
    box-shadow: 0px 4px 12px 1px rgba(0, 0, 0, 0.4);
}

a:link,
a:visited,
a:focus,
a:active {
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

p:not(:first-child) {
    margin-top: calc(1.5 * var(--padding));
}

button {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: inherit;
    color: inherit;
    border: none;
    outline: none;
}

input[type=text],
input[type=password],
textarea {
    width: 100%;
    position: relative;
}

textarea {
    height: 100%;
}

svg {
    transition-property: all;
    transition-duration: 600ms;
    transition-timing-function: ease-in-out;
    overflow: visible;
}

pre,
.auto_message_box {
    position: relative;
    background-color: var(--color-black);
    color: var(--color-white);
}

pre[languagetag]:before {
    content: attr(languagetag);
    position: absolute;
    display: inline-block;
    background-color: var(--color-primary);
    color: var(--color-primary-offset);
    top: 0;
    left: 0;
    width: 100%;
    margin-right: 0;
    margin-bottom: var(--padding);
    padding: calc(0.5 * var(--padding));
    font-size: 0.9em;
    z-index: 0;
    opacity: 0.7;
    box-sizing: border-box;
}

code {
    display: inline;
    background-color: var(--color-info);
    color: var(--color-info-offset);
    border-radius: 1px;
    outline: 1.5px solid var(--color-info);
}

pre>code {
    display: block;
    position: relative;
    z-index: 1;
    padding: var(--padding);
    background-color: transparent;
    color: inherit;
    height: 100%;
}

pre[languagetag]>code {
    padding-top: calc((2 * var(--padding)) + 0.9em);
}

table {
    border: 0px solid var(--color-primary);
    border-collapse: collapse;
}

table th {
    background-color: var(--color-primary);
    color: var(--color-primary-offset);
}

table th,
table td {
    border: 0px solid var(--color-primary);
    padding: var(--padding);
}

table.bordered,
table.bordered th,
table.bordered td {
    border-width: 1px;
}

table.table-theme-white,
table.table-theme-white th,
table.table-theme-white td {
    border-color: var(--color-white);
}

table.table-theme-white th {
    background-color: var(--color-white);
    color: var(--color-black);
}

table.table-theme-black,
table.table-theme-black th,
table.table-theme-black td {
    border-color: var(--color-black);
}

table.table-theme-black th {
    background-color: var(--color-black);
    color: var(--color-white);
}

table.table-theme-title,
table.table-theme-title th,
table.table-theme-title td {
    border-color: var(--color-title);
}

table.table-theme-title th {
    background-color: var(--color-title);
    color: var(--color-title-offset);
}

table.table-theme-primary,
table.table-theme-primary th,
table.table-theme-primary td {
    border-color: var(--color-primary);
}

table.table-theme-primary th {
    background-color: var(--color-primary);
    color: var(--color-primary-offset);
}

table.table-theme-secondary,
table.table-theme-secondary th,
table.table-theme-secondary td {
    border-color: var(--color-secondary);
}

table.table-theme-secondary th {
    background-color: var(--color-secondary);
    color: var(--color-secondary-offset);
}

table.table-theme-tertiary,
table.table-theme-tertiary th,
table.table-theme-tertiary td {
    border-color: var(--color-tertiary);
}

table.table-theme-tertiary th {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-offset);
}

table.table-theme-info,
table.table-theme-info th,
table.table-theme-info td {
    border-color: var(--color-info);
}

table.table-theme-info th {
    background-color: var(--color-info);
    color: var(--color-info-offset);
}

table.table-theme-success,
table.table-theme-success th,
table.table-theme-success td {
    border-color: var(--color-success);
}

table.table-theme-success th {
    background-color: var(--color-success);
    color: var(--color-success-offset);
}

table.table-theme-warning,
table.table-theme-warning th,
table.table-theme-warning td {
    border-color: var(--color-warning);
}

table.table-theme-warning th {
    background-color: var(--color-warning);
    color: var(--color-warning-offset);
}

table.table-theme-danger,
table.table-theme-danger th,
table.table-theme-danger td {
    border-color: var(--color-danger);
}

table.table-theme-danger th {
    background-color: var(--color-danger);
    color: var(--color-danger-offset);
}

table.table-theme-shade,
table.table-theme-shade th,
table.table-theme-shade td {
    border-color: var(--color-shade);
}

table.table-theme-shade th {
    background-color: var(--color-shade);
    color: var(--color-shade-offset);
}

table.table-theme-active,
table.table-theme-active th,
table.table-theme-active td {
    border-color: var(--color-active);
}

table.table-theme-active th {
    background-color: var(--color-active);
    color: var(--color-active-offset);
}

table.table-theme-button,
table.table-theme-button th,
table.table-theme-button td {
    border-color: var(--color-button);
}

table.table-theme-button th {
    background-color: var(--color-button);
    color: var(--color-button-offset);
}

table th.left,
table td.left {
    text-align: left;
}

table th.center,
table td.center {
    text-align: center;
}

table th.right,
table td.right {
    text-align: right;
}

ul,
ol {
    margin: 0;
    padding-inline-start: calc(4 * var(--padding));
}

/* Layout Styles */
#app>header {
    padding: var(--padding);
}

#app>footer {
    display: flex;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: calc(var(--typography-size) * 0.8);
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--padding);
    padding: calc(var(--padding) * 0.5) calc(var(--padding) * 1.5);
}

main.page.transition * {
    pointer-events: none;
}

main.page.hidden {
    transform: scale(0) translateY(-10%);
    opacity: 0;
}

#loading {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    transition-duration: var(--main-transition);
    opacity: 0;
}

main.page.loading+#loading,
main.page.transition.out+#loading,
main.page.transition.in+#loading,
main.page.hidden+#loading {
    display: flex;
}

main.page.loading+#loading,
main.page.transition.out+#loading,
main.page.hidden+#loading {
    opacity: 1;
}

main.page.transition.out {
    transform: scale(0.3) translateY(-10%);
    opacity: 0;
}

main.page.transition.in {
    transform: scale(1.03) translateY(1%);
    opacity: 1;
}

/* Component Classes */

header>.logo {
    display: flex;
    gap: var(--padding);
    height: 100%;
    width: auto;
    align-items: center;
    margin-right: var(--padding);
}

header>.logo>img {
    height: 2em;
    width: auto;
}

aside.app-drawer {
    position: absolute;
    overflow: visible;
    z-index: 500;
}

aside.app-drawer.top {
    bottom: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 503;
}

aside.app-drawer.right {
    top: 0;
    width: 100%;
    height: 100%;
    left: 100%;
    z-index: 502;
}

aside.app-drawer.bottom {
    top: 100%;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 504;
}

aside.app-drawer.left {
    top: 0;
    width: 100%;
    height: 100%;
    right: 100%;
    z-index: 501;
}

.app-drawer .page-cover {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-shade);
    -webkit-backdrop-filter: var(--backdrop-blur);
    backdrop-filter: var(--backdrop-blur);
}

.app-drawer:not(.open) .page-cover {
    display: none;
}

.app-drawer>.drawer-placement {
    display: block;
    position: absolute;
    width: min-content;
    height: min-content;
    max-width: 100%;
    max-height: 100%;
    overflow: visible;
}

.app-drawer .drawer-content {
    display: flex;
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding: 0;
    position: relative;
    flex-direction: column;
    gap: var(--padding);
    background-color: var(--site-background-color);
    color: var(--site-background-offset);
    overflow: auto;
    border-radius: var(--corners);
}

.app-drawer .drawer-content,
.app-drawer .drawer-placement {
    transition: all var(--transition-speed) ease-in-out;
}

.app-drawer.open.top>.page-cover {
    top: 100%;
}

.app-drawer.open.right>.page-cover {
    left: -100%;
}

.app-drawer.open.bottom>.page-cover {
    top: -100%;
}

.app-drawer.open.left>.page-cover {
    left: 100%;
}

.app-drawer.top>.drawer-placement,
.app-drawer.bottom>.drawer-placement {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.app-drawer.top>.drawer-placement {
    left: 0;
    top: 0;
}

.app-drawer.right>.drawer-placement {
    left: 0;
    top: 0;
    height: 100%;
}

.app-drawer.bottom>.drawer-placement {
    top: 0;
    left: 0;
}

.app-drawer.left>.drawer-placement {
    height: 100%;
    top: 0;
    right: 0;
}

.app-drawer .drawer-content.auto-size {
    height: min-content;
    width: min-content;
    min-width: 3ch;
    min-height: 3ch;
}

.app-drawer.top>.drawer-placement>.drawer-content,
.app-drawer.bottom>.drawer-placement>.drawer-content {
    position: relative;
    width: max-content;
    max-width: 90%;
    height: max-content;
    max-height: 90%;
}

.app-drawer.top>.drawer-placement>.drawer-content:not(.auto-size),
.app-drawer.bottom>.drawer-placement>.drawer-content:not(.auto-size) {
    min-width: 50%;
}

.app-drawer.top>.drawer-placement>.drawer-content {
    bottom: 0;
}

.app-drawer.top.open>.drawer-placement {
    top: 100%;
    opacity: 1;
}

.app-drawer.right>.drawer-placement>.drawer-content {
    left: 0;
    width: max-content;
}

.app-drawer.right.open>.drawer-placement>.drawer-content {
    left: -100%;
}

.app-drawer.bottom.open>.drawer-placement {
    top: -100%;
    opacity: 1;
}

.app-drawer.left>.drawer-placement>.drawer-content {
    left: 0;
    width: max-content;
}

.app-drawer.left.open>.drawer-placement>.drawer-content {
    left: 100%;
}

.paper {
    border-radius: var(--default-borderradius);
}

.navlink {
    display: flex;
    flex-direction: row;
    gap: var(--padding);
    align-items: center;
    padding: var(--padding);
    text-decoration: none;
}

.navlink.active {
    background-color: var(--color-active);
    color: var(--color-active-offset);
}

.auto_message_box {
    flex-grow: 1;
}

.auto_message_box,
.auto_message_box>pre,
.auto_message_box>pre>code {
    display: block;
    position: relative;
}

.auto_message_box code {
    min-height: 1.8em;
    color: transparent;
}

.auto_message_box:not(.single-line) code {
    min-height: 4em;
}

.auto_message_box:not(.single-line) code::after {
    display: block;
    content: " ";
    height: 2ch;
}

.auto_message_box>pre+textarea,
.auto_message_box>pre+input[type=text],
.auto_message_box>pre+input[type=password] {
    position: absolute;
    resize: none;
    background-color: transparent;
    color: inherit;
    overflow: hidden;
    z-index: 1;
}

.auto_message_box>pre,
.auto_message_box>pre>code,
.auto_message_box>pre+textarea,
.auto_message_box>pre+input[type=text],
.auto_message_box>pre+input[type=password] {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    font-size: var(--typography-size);
    font-family: var(--typography-family);
    font-weight: var(--typography-weight);
    line-height: var(--typography-lineheight);
    letter-spacing: var(--typography-letterspacing);
    border: none;
    z-index: 1;
}

.auto_message_box>pre>code,
.auto_message_box>pre+textarea,
.auto_message_box>pre+input[type=text],
.auto_message_box>pre+input[type=password] {
    padding: var(--padding);
    white-space: pre-line;
    z-index: 1;
}

.auto_message_box:not(.single-line)>pre>code,
.auto_message_box>pre+textarea {
    word-wrap: break-word;
    word-break: break-all;
    z-index: 1;
}

blockquote,
.quote {
    display: block;
    margin: var(--padding);
    padding: var(--padding);
    border-left: calc(2 * var(--padding)) solid var(--color-primary);
    box-shadow: var(--elevation-10);
    box-sizing: border-box;
}

.quote>cite {
    margin: 0 0 0 auto;
    display: block;
    width: max-content;
}

.quote.highlight-theme-white {
    border-left-color: var(--color-white);
}

.quote.highlight-theme-black {
    border-left-color: var(--color-black);
}

.quote.highlight-theme-title {
    border-left-color: var(--color-title);
}

.quote.highlight-theme-primary {
    border-left-color: var(--color-primary);
}

.quote.highlight-theme-secondary {
    border-left-color: var(--color-secondary);
}

.quote.highlight-theme-tertiary {
    border-left-color: var(--color-tertiary);
}

.quote.highlight-theme-info {
    border-left-color: var(--color-info);
}

.quote.highlight-theme-success {
    border-left-color: var(--color-success);
}

.quote.highlight-theme-warning {
    border-left-color: var(--color-warning);
}

.quote.highlight-theme-danger {
    border-left-color: var(--color-danger);
}

.quote.highlight-theme-shade {
    border-left-color: var(--color-shade);
}

.quote.highlight-theme-active {
    border-left-color: var(--color-active);
}

.quote.highlight-theme-button {
    border-left-color: var(--color-button);
}

.quote>cite:before {
    content: "— ";
    color: var(--color-primary);
}

.quote.highlight-theme-white>cite:before {
    color: var(--color-white);
}

.quote.highlight-theme-black>cite:before {
    color: var(--color-black);
}

.quote.highlight-theme-title>cite:before {
    color: var(--color-title);
}

.quote.highlight-theme-primary>cite:before {
    color: var(--color-primary);
}

.quote.highlight-theme-secondary>cite:before {
    color: var(--color-secondary);
}

.quote.highlight-theme-tertiary>cite:before {
    color: var(--color-tertiary);
}

.quote.highlight-theme-info>cite:before {
    color: var(--color-info);
}

.quote.highlight-theme-success>cite:before {
    color: var(--color-success);
}

.quote.highlight-theme-warning>cite:before {
    color: var(--color-warning);
}

.quote.highlight-theme-danger>cite:before {
    color: var(--color-danger);
}

.quote.highlight-theme-shade>cite:before {
    color: var(--color-shade);
}

.quote.highlight-theme-active>cite:before {
    color: var(--color-active);
}

.quote.highlight-theme-button>cite:before {
    color: var(--color-button);
}

.loading {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
}

.loading.bar {
    display: flex;
    flex-direction: row;
    position: relative;
    height: auto;
    overflow: hidden;
    box-sizing: border-box;
}

.loading.bar.striped {
    background-image: linear-gradient(135deg, rgba(255, 255, 255, .25) 25%, transparent 0, transparent 50%, rgba(255, 255, 255, .25) 0, rgba(255, 255, 255, .25) 75%, transparent 0, transparent);
    background-size: 2rem 2rem;
    animation: linear-striped-loading 90s linear infinite;
}

.loading.bar>div {
    height: 102%;
    width: auto;
    position: relative;
    transition-property: width;
    transition-duration: 100ms;
    transform-origin: left;
    overflow: hidden;
    box-sizing: border-box;
}

.loading.bar> :nth-child(1) {
    background-color: inherit;
    background-image: none;
    width: 0%;
}

.loading.bar> :nth-child(2) {
    background: transparent;
    width: 0%;
}

.loading.bar> :nth-child(3) {
    background-color: inherit;
    background-image: none;
    flex-grow: 1;
}

.loading.bar> :nth-child(1)::before,
.loading.bar> :nth-child(3)::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #44444488;
}

.loading.bar.indeterminate>div {
    transition-duration: 0s;
}

.loading.bar.striped.indeterminate {
    animation: 50s 0s linear infinite reverse linear-striped-loading;
}

.loading.bar.indeterminate> :nth-child(1) {
    animation: 2.6s 0s cubic-bezier(.65, .815, .735, .395) infinite forwards horizontal-keyframes-indeterminate1;
}

.loading.bar.indeterminate> :nth-child(2) {
    animation: 2.6s 0s cubic-bezier(.65, .815, .735, .395) infinite forwards horizontal-keyframes-indeterminate2;
}

.loading.bar.striped>div {
    background-repeat: repeat;
}

.loading.circle {
    padding: var(--padding);
}

.loading.indeterminate.circle {
    animation: keyframes-circular-rotate 2s linear infinite;
}

.loading.circle svg {
    display: block;
    transform: rotate(-90deg);
    transition-property: all;
    transition-duration: 0ms;
    transition-timing-function: linear;
}

.loading circle {
    stroke-dasharray: 0px, 138px;
    stroke-dashoffset: 0;
    stroke: currentColor;
}

.loading.indeterminate circle {
    stroke-dasharray: 80px, 138px;
    animation: 2s ease-in-out infinite keyframes-circular-dash;
}

/* Common Helpers */

.page-segment-standard {
    padding: calc(1.5 * var(--padding));
    margin: var(--padding);
}

.page-segment-cards {
    display: flex;
    padding: calc(1.5 * var(--padding));
    gap: calc(1.5 * var(--padding));
    flex-wrap: wrap;
    justify-content: center;
}

.side-by-side,
.maxcontent-auto,
.auto-maxcontent {
    display: grid;
    grid-gap: var(--padding);
    padding: calc(3 * var(--padding));
    margin: var(--padding);
}

.side-by-side {
    grid-template-columns: 1fr 1fr;
    grid-gap: var(--main-padding-size);
}

.gap-0 {
    grid-gap: 0;
}

.gap-1 {
    grid-gap: calc(0.1 * var(--padding));
}

.gap-2 {
    grid-gap: calc(0.2 * var(--padding));
}

.gap-3 {
    grid-gap: calc(0.4 * var(--padding));
}

.gap-4 {
    grid-gap: calc(0.7 * var(--padding));
}

.gap-5 {
    grid-gap: calc(1 * var(--padding));
}

.gap-6 {
    grid-gap: calc(1.5 * var(--padding));
}

.gap-7 {
    grid-gap: calc(2 * var(--padding));
}

.gap-8 {
    grid-gap: calc(4 * var(--padding));
}

.gap-9 {
    grid-gap: calc(8 * var(--padding));
}

.gap-10 {
    grid-gap: calc(10 * var(--padding));
}

.side-by-side> :only-child,
.maxcontent-auto> :only-child,
.auto-maxcontent> :only-child {
    grid-column: span 2;
}

.maxcontent-auto {
    grid-template-columns: max-content auto;
}

.maxcontent-auto>*:first-child {
    width: max-content;
}

.auto-maxcontent {
    grid-template-columns: auto max-content;
}

.auto-maxcontent>*:last-child {
    width: max-content;
}

@media (max-width: 1200px) {

    .side-by-side,
    .maxcontent-auto,
    .auto-maxcontent {
        grid-template-columns: 1fr;
    }

    .side-by-side> :not(:first-child),
    .maxcontent-auto> :not(:first-child),
    .auto-maxcontent> :not(:first-child) {
        margin-top: calc(2 * var(--padding));
    }
}

a.btn:link,
a.btn:visited,
a.btn:focus,
a.btn:active,
.btn {
    background-color: var(--color-button);
    color: var(--color-button-offset);
}

.btn {
    display: inline-flex;
    flex-flow: row;
    gap: 0.5em;
    align-items: center;
    text-decoration: none;
    padding: calc(1 * var(--padding)) calc(2 * var(--padding));
    cursor: pointer;
    border-radius: var(--corners);
    min-height: 2em;
    -webkit-user-select: text;
    user-select: text;
}

.disabled,
:disabled,
.btn:disabled {
    background-color: var(--color-shade);
    color: var(--color-shade-offset);
}

.btn:disabled {
    cursor: not-allowed;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar>img {
    max-height: 100%;
    max-width: 100%;
}

header .avatar>img {
    height: 1.7em;
}

p>.avatar:not(:only-child) {
    display: inline-flex;
    height: 1.0em;
}

p>.avatar:not(:only-child)>img {
    height: 1.0em;
}

.card-header>.avatar {
    width: 38px;
    height: 38px;
}

main .avatar,
main img {
    transition-duration: 300ms;
}

main.page.hidden .avatar,
main.page.hidden img,
main.page.transition.out .avatar,
main.page.transition.out img {
    transition-duration: 10ms;
    transform: scale(0);
    opacity: 0;
}

main.page.transition.in .avatar,
main.page.transition.in img {
    transform: scale(1.03);
    opacity: 1;
}

.nav-group,
.nav-link {
    display: block;
    padding: calc(0.1 * var(--padding));
}

.nav-group>section {
    padding-left: calc(2 * var(--padding));
}

.nav-group>section {
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.nav-group>section>* {
    transition: all 300ms ease-in-out;
    margin-top: -100%;
}

.nav-group>.navlink.show~section>* {
    margin-top: 0;
}

.navlink>span {
    white-space: nowrap;
}

.f0 {
    font-size: calc(var(--typography-size) * 0.8);
}

.f1 {
    font-size: var(--typography-size);
}

.f2 {
    font-size: calc(var(--typography-size) * 1.25);
}

.f3 {
    font-size: calc(var(--typography-size) * 1.5);
}

.f4 {
    font-size: calc(var(--typography-size) * 1.75);
}

.f5 {
    font-size: calc(var(--typography-size) * 2);
}

.f6 {
    font-size: calc(var(--typography-size) * 2.25);
}

.f7 {
    font-size: calc(var(--typography-size) * 2.5);
}

.f8 {
    font-size: calc(var(--typography-size) * 2.75);
}

.f9 {
    font-size: calc(var(--typography-size) * 3);
}

.f10 {
    font-size: calc(var(--typography-size) * 3.25);
}

.d-block {
    display: block;
}

.d-grid {
    display: grid;
    gap: var(--padding);
    grid-template-columns: repeat(auto-fit, minmax(1em, 400px))
}

.d-flex {
    display: flex;
    gap: var(--padding);
}

.d-flexbox {
    display: flexbox;
}

.d-inline {
    display: inline;
}

.d-inlineblock {
    display: inline-block;
}

.d-inlineflex {
    display: inline-flex;
}

.d-inlineflexbox {
    display: inline-flexbox;
}

main>*>.d-flex:not(.flex-column):not(.flex-columnreverse)>*:not([width]):not(:only-child) {
    flex: 100 1 400px;
}

main>*>.d-flex>*[width] {
    flex: 1 0 auto;
}

.flex-row {
    flex-direction: row;
}

.flex-rowreverse {
    flex-direction: row-reverse;
}

.flex-column {
    flex-direction: column;
}

.flex-columnreverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-wrapreverse {
    flex-wrap: wrap-reverse;
}

.flex-grow {
    flex-grow: 1;
}

.gap-0 {
    gap: 0;
}

.gap-1 {
    gap: var(--typography-size);
}

.gap-2 {
    gap: calc(var(--typography-size) * 1.25);
}

.gap-3 {
    gap: calc(var(--typography-size) * 1.5);
}

.gap-4 {
    gap: calc(var(--typography-size) * 1.75);
}

.gap-5 {
    gap: calc(var(--typography-size) * 2);
}

.gap-6 {
    gap: calc(var(--typography-size) * 2.25);
}

.gap-7 {
    gap: calc(var(--typography-size) * 2.5);
}

.gap-8 {
    gap: calc(var(--typography-size) * 2.75);
}

.gap-9 {
    gap: calc(var(--typography-size) * 3);
}

.gap-10 {
    gap: calc(var(--typography-size) * 3.25);
}

.flex-break {
    content: " ";
    display: block;
    width: 100%;
    height: 0;
}

.min-content {
    width: min-content;
}

.max-content {
    width: max-content;
}

.text-center {
    text-align: center;
}

.justify-left {
    justify-content: left;
}

.justify-center {
    justify-content: center;
}

.justify-right {
    justify-content: right;
}

.align-start {
    align-items: flex-start;
}

.align-center {
    align-items: center;
}

.align-end {
    align-items: flex-end;
}

.h-fill {
    min-height: 100%;
}

.w-fill {
    min-width: 100%;
}

.overflow-auto {
    overflow: auto;
}

.pa-0 {
    padding: 0;
}

.pa-a {
    padding: auto;
}

.pt-a {
    padding-top: auto;
}

.pa-1 {
    padding: var(--padding);
}

.pa-2 {
    padding: calc(2 * var(--padding));
}

.pa-3 {
    padding: calc(3 * var(--padding));
}

.pa-4 {
    padding: calc(4 * var(--padding));
}

.pa-5 {
    padding: calc(5 * var(--padding));
}

.pa-6 {
    padding: calc(6 * var(--padding));
}

.pa-7 {
    padding: calc(7 * var(--padding));
}

.pa-8 {
    padding: calc(8 * var(--padding));
}

.pa-9 {
    padding: calc(9 * var(--padding));
}

.pa-10 {
    padding: calc(10 * var(--padding));
}

.pr-a {
    padding-right: auto;
}

.pb-a {
    padding-bottom: auto;
}

.pl-a {
    padding-left: auto;
}

.pt-0 {
    padding-top: 0;
}

.pt-1 {
    padding-top: var(--padding);
}

.pt-2 {
    padding-top: calc(2 * var(--padding));
}

.pt-3 {
    padding-top: calc(3 * var(--padding));
}

.pt-4 {
    padding-top: calc(4 * var(--padding));
}

.pt-5 {
    padding-top: calc(5 * var(--padding));
}

.pt-6 {
    padding-top: calc(6 * var(--padding));
}

.pt-7 {
    padding-top: calc(7 * var(--padding));
}

.pt-8 {
    padding-top: calc(8 * var(--padding));
}

.pt-9 {
    padding-top: calc(9 * var(--padding));
}

.pt-10 {
    padding-top: calc(10 * var(--padding));
}

.pr-0 {
    padding-right: 0;
}

.pr-1 {
    padding-right: var(--padding);
}

.pr-2 {
    padding-right: calc(2 * var(--padding));
}

.pr-3 {
    padding-right: calc(3 * var(--padding));
}

.pr-4 {
    padding-right: calc(4 * var(--padding));
}

.pr-5 {
    padding-right: calc(5 * var(--padding));
}

.pr-6 {
    padding-right: calc(6 * var(--padding));
}

.pr-7 {
    padding-right: calc(7 * var(--padding));
}

.pr-8 {
    padding-right: calc(8 * var(--padding));
}

.pr-9 {
    padding-right: calc(9 * var(--padding));
}

.pr-10 {
    padding-right: calc(10 * var(--padding));
}

.pb-0 {
    padding-bottom: 0;
}

.pb-1 {
    padding-bottom: var(--padding);
}

.pb-2 {
    padding-bottom: calc(2 * var(--padding));
}

.pb-3 {
    padding-bottom: calc(3 * var(--padding));
}

.pb-4 {
    padding-bottom: calc(4 * var(--padding));
}

.pb-5 {
    padding-bottom: calc(5 * var(--padding));
}

.pb-6 {
    padding-bottom: calc(6 * var(--padding));
}

.pb-7 {
    padding-bottom: calc(7 * var(--padding));
}

.pb-8 {
    padding-bottom: calc(8 * var(--padding));
}

.pb-9 {
    padding-bottom: calc(9 * var(--padding));
}

.pb-10 {
    padding-bottom: calc(10 * var(--padding));
}

.pl-0 {
    padding-left: 0;
}

.pl-1 {
    padding-left: var(--padding);
}

.pl-2 {
    padding-left: calc(2 * var(--padding));
}

.pl-3 {
    padding-left: calc(3 * var(--padding));
}

.pl-4 {
    padding-left: calc(4 * var(--padding));
}

.pl-5 {
    padding-left: calc(5 * var(--padding));
}

.pl-6 {
    padding-left: calc(6 * var(--padding));
}

.pl-7 {
    padding-left: calc(7 * var(--padding));
}

.pl-8 {
    padding-left: calc(8 * var(--padding));
}

.pl-9 {
    padding-left: calc(9 * var(--padding));
}

.pl-10 {
    padding-left: calc(10 * var(--padding));
}

.ma-0 {
    margin: 0;
}

.ma-a {
    margin: auto;
}

.ma-1 {
    margin: var(--padding);
}

.ma-2 {
    margin: calc(2 * var(--padding));
}

.ma-3 {
    margin: calc(3 * var(--padding));
}

.ma-4 {
    margin: calc(4 * var(--padding));
}

.ma-5 {
    margin: calc(5 * var(--padding));
}

.ma-6 {
    margin: calc(6 * var(--padding));
}

.ma-7 {
    margin: calc(7 * var(--padding));
}

.ma-8 {
    margin: calc(8 * var(--padding));
}

.ma-9 {
    margin: calc(9 * var(--padding));
}

.ma-10 {
    margin: calc(10 * var(--padding));
}

.ma-n1 {
    margin: calc(-1 * var(--padding));
}

.ma-n2 {
    margin: calc(-2 * var(--padding));
}

.ma-n3 {
    margin: calc(-3 * var(--padding));
}

.ma-n4 {
    margin: calc(-4 * var(--padding));
}

.ma-n5 {
    margin: calc(-5 * var(--padding));
}

.ma-n6 {
    margin: calc(-6 * var(--padding));
}

.ma-n7 {
    margin: calc(-7 * var(--padding));
}

.ma-n8 {
    margin: calc(-8 * var(--padding));
}

.ma-n9 {
    margin: calc(-9 * var(--padding));
}

.ma-n10 {
    margin: calc(-10 * var(--padding));
}

.mt-a {
    margin-top: auto;
}

.mr-a {
    margin-right: auto;
}

.mb-a {
    margin-bottom: auto;
}

.ml-a {
    margin-left: auto;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: var(--padding);
}

.mt-2 {
    margin-top: calc(2 * var(--padding));
}

.mt-3 {
    margin-top: calc(3 * var(--padding));
}

.mt-4 {
    margin-top: calc(4 * var(--padding));
}

.mt-5 {
    margin-top: calc(5 * var(--padding));
}

.mt-6 {
    margin-top: calc(6 * var(--padding));
}

.mt-7 {
    margin-top: calc(7 * var(--padding));
}

.mt-8 {
    margin-top: calc(8 * var(--padding));
}

.mt-9 {
    margin-top: calc(9 * var(--padding));
}

.mt-10 {
    margin-top: calc(10 * var(--padding));
}

.mt-n1 {
    margin-top: calc(-1 * var(--padding));
}

.mt-n2 {
    margin-top: calc(-2 * var(--padding));
}

.mt-n3 {
    margin-top: calc(-3 * var(--padding));
}

.mt-n4 {
    margin-top: calc(-4 * var(--padding));
}

.mt-n5 {
    margin-top: calc(-5 * var(--padding));
}

.mt-n6 {
    margin-top: calc(-6 * var(--padding));
}

.mt-n7 {
    margin-top: calc(-7 * var(--padding));
}

.mt-n8 {
    margin-top: calc(-8 * var(--padding));
}

.mt-n9 {
    margin-top: calc(-9 * var(--padding));
}

.mt-n10 {
    margin-top: calc(-10 * var(--padding));
}

.mr-0 {
    margin-right: 0;
}

.mr-1 {
    margin-right: var(--padding);
}

.mr-2 {
    margin-right: calc(2 * var(--padding));
}

.mr-3 {
    margin-right: calc(3 * var(--padding));
}

.mr-4 {
    margin-right: calc(4 * var(--padding));
}

.mr-5 {
    margin-right: calc(5 * var(--padding));
}

.mr-6 {
    margin-right: calc(6 * var(--padding));
}

.mr-7 {
    margin-right: calc(7 * var(--padding));
}

.mr-8 {
    margin-right: calc(8 * var(--padding));
}

.mr-9 {
    margin-right: calc(9 * var(--padding));
}

.mr-10 {
    margin-right: calc(10 * var(--padding));
}

.mr-n1 {
    margin-top: calc(-1 * var(--padding));
}

.mr-n2 {
    margin-top: calc(-2 * var(--padding));
}

.mr-n3 {
    margin-top: calc(-3 * var(--padding));
}

.mr-n4 {
    margin-top: calc(-4 * var(--padding));
}

.mr-n5 {
    margin-top: calc(-5 * var(--padding));
}

.mr-n6 {
    margin-top: calc(-6 * var(--padding));
}

.mr-n7 {
    margin-top: calc(-7 * var(--padding));
}

.mr-n8 {
    margin-top: calc(-8 * var(--padding));
}

.mr-n9 {
    margin-top: calc(-9 * var(--padding));
}

.mr-n10 {
    margin-top: calc(-10 * var(--padding));
}

.mb-0 {
    margin-bottom: 0;
}

.mb-1 {
    margin-bottom: var(--padding);
}

.mb-2 {
    margin-bottom: calc(2 * var(--padding));
}

.mb-3 {
    margin-bottom: calc(3 * var(--padding));
}

.mb-4 {
    margin-bottom: calc(4 * var(--padding));
}

.mb-5 {
    margin-bottom: calc(5 * var(--padding));
}

.mb-6 {
    margin-bottom: calc(6 * var(--padding));
}

.mb-7 {
    margin-bottom: calc(7 * var(--padding));
}

.mb-8 {
    margin-bottom: calc(8 * var(--padding));
}

.mb-9 {
    margin-bottom: calc(9 * var(--padding));
}

.mb-10 {
    margin-bottom: calc(10 * var(--padding));
}

.mb-n1 {
    margin-top: calc(-1 * var(--padding));
}

.mb-n2 {
    margin-top: calc(-2 * var(--padding));
}

.mb-n3 {
    margin-top: calc(-3 * var(--padding));
}

.mb-n4 {
    margin-top: calc(-4 * var(--padding));
}

.mb-n5 {
    margin-top: calc(-5 * var(--padding));
}

.mb-n6 {
    margin-top: calc(-6 * var(--padding));
}

.mb-n7 {
    margin-top: calc(-7 * var(--padding));
}

.mb-n8 {
    margin-top: calc(-8 * var(--padding));
}

.mb-n9 {
    margin-top: calc(-9 * var(--padding));
}

.mb-n10 {
    margin-top: calc(-10 * var(--padding));
}

.ml-0 {
    margin-left: 0;
}

.ml-1 {
    margin-left: var(--padding);
}

.ml-2 {
    margin-left: calc(2 * var(--padding));
}

.ml-3 {
    margin-left: calc(3 * var(--padding));
}

.ml-4 {
    margin-left: calc(4 * var(--padding));
}

.ml-5 {
    margin-left: calc(5 * var(--padding));
}

.ml-6 {
    margin-left: calc(6 * var(--padding));
}

.ml-7 {
    margin-left: calc(7 * var(--padding));
}

.ml-8 {
    margin-left: calc(8 * var(--padding));
}

.ml-9 {
    margin-left: calc(9 * var(--padding));
}

.ml-10 {
    margin-left: calc(10 * var(--padding));
}

.ml-n1 {
    margin-top: calc(-1 * var(--padding));
}

.ml-n2 {
    margin-top: calc(-2 * var(--padding));
}

.ml-n3 {
    margin-top: calc(-3 * var(--padding));
}

.ml-n4 {
    margin-top: calc(-4 * var(--padding));
}

.ml-n5 {
    margin-top: calc(-5 * var(--padding));
}

.ml-n6 {
    margin-top: calc(-6 * var(--padding));
}

.ml-n7 {
    margin-top: calc(-7 * var(--padding));
}

.ml-n8 {
    margin-top: calc(-8 * var(--padding));
}

.ml-n9 {
    margin-top: calc(-9 * var(--padding));
}

.ml-n10 {
    margin-top: calc(-10 * var(--padding));
}

.elevation-1 {
    box-shadow: var(--elevation-1);
}

.elevation-2 {
    box-shadow: var(--elevation-2);
}

.elevation-3 {
    box-shadow: var(--elevation-3);
}

.elevation-4 {
    box-shadow: var(--elevation-4);
}

.elevation-5 {
    box-shadow: var(--elevation-5);
}

.elevation-6 {
    box-shadow: var(--elevation-6);
}

.elevation-7 {
    box-shadow: var(--elevation-7);
}

.elevation-8 {
    box-shadow: var(--elevation-8);
}

.elevation-9 {
    box-shadow: var(--elevation-9);
}

.elevation-10 {
    box-shadow: var(--elevation-10);
}

.elevation-11 {
    box-shadow: var(--elevation-11);
}

.elevation-12 {
    box-shadow: var(--elevation-12);
}

.elevation-13 {
    box-shadow: var(--elevation-13);
}

.elevation-13 {
    box-shadow: var(--elevation-13);
}

.elevation-14 {
    box-shadow: var(--elevation-14);
}

.elevation-15 {
    box-shadow: var(--elevation-15);
}

.elevation-16 {
    box-shadow: var(--elevation-16);
}

.elevation-17 {
    box-shadow: var(--elevation-17);
}

.elevation-18 {
    box-shadow: var(--elevation-18);
}

.elevation-19 {
    box-shadow: var(--elevation-19);
}

.elevation-20 {
    box-shadow: var(--elevation-20);
}

.elevation-21 {
    box-shadow: var(--elevation-21);
}

.elevation-22 {
    box-shadow: var(--elevation-22);
}

.elevation-23 {
    box-shadow: var(--elevation-23);
}

.elevation-24 {
    box-shadow: var(--elevation-24);
}

.elevation-25 {
    box-shadow: var(--elevation-25);
}

.elevation-0 {
    box-shadow: var(--elevation-0);
}

.elevation-n1 {
    box-shadow: inset var(--elevation-1);
}

.elevation-n2 {
    box-shadow: inset var(--elevation-2);
}

.elevation-n3 {
    box-shadow: inset var(--elevation-3);
}

.elevation-n4 {
    box-shadow: inset var(--elevation-4);
}

.elevation-n5 {
    box-shadow: inset var(--elevation-5);
}

.elevation-n6 {
    box-shadow: inset var(--elevation-6);
}

.elevation-n7 {
    box-shadow: inset var(--elevation-7);
}

.elevation-n8 {
    box-shadow: inset var(--elevation-8);
}

.elevation-n9 {
    box-shadow: inset var(--elevation-9);
}

.elevation-n10 {
    box-shadow: inset var(--elevation-10);
}

.elevation-n11 {
    box-shadow: inset var(--elevation-11);
}

.elevation-n12 {
    box-shadow: inset var(--elevation-12);
}

.elevation-n13 {
    box-shadow: inset var(--elevation-13);
}

.elevation-n13 {
    box-shadow: inset var(--elevation-13);
}

.elevation-n14 {
    box-shadow: inset var(--elevation-14);
}

.elevation-n15 {
    box-shadow: inset var(--elevation-15);
}

.elevation-n16 {
    box-shadow: inset var(--elevation-16);
}

.elevation-n17 {
    box-shadow: inset var(--elevation-17);
}

.elevation-n18 {
    box-shadow: inset var(--elevation-18);
}

.elevation-n19 {
    box-shadow: inset var(--elevation-19);
}

.elevation-n20 {
    box-shadow: inset var(--elevation-20);
}

.elevation-n21 {
    box-shadow: inset var(--elevation-21);
}

.elevation-n22 {
    box-shadow: inset var(--elevation-22);
}

.elevation-n23 {
    box-shadow: inset var(--elevation-23);
}

.elevation-n24 {
    box-shadow: inset var(--elevation-24);
}

.elevation-n25 {
    box-shadow: inset var(--elevation-25);
}

.scrollable {
    overflow: auto;
}

.theme-active,
a.theme-active:link,
a.theme-active:visited,
a.theme-active:focus,
a.theme-active:active {
    background-color: var(--color-active);
    color: var(--color-active-offset);
}

.theme-background,
a.theme-background:link,
a.theme-background:visited,
a.theme-background:focus,
a.theme-background:active {
    background-color: var(--color-background);
    color: var(--color-background-offset);
}

.theme-black,
a.theme-black:link,
a.theme-black:visited,
a.theme-black:focus,
a.theme-black:active {
    background-color: var(--color-black);
    color: var(--color-white);
}

.theme-white,
a.theme-white:link,
a.theme-white:visited,
a.theme-white:focus,
a.theme-white:active {
    background-color: var(--color-white);
    color: var(--color-black);
}

.theme-shade,
a.theme-shade:link,
a.theme-shade:visited,
a.theme-shade:focus,
a.theme-shade:active {
    background-color: var(--color-shade);
    color: var(--color-shade-offset);
}

.theme-primary,
a.theme-primary:link,
a.theme-primary:visited,
a.theme-primary:focus,
a.theme-primary:active {
    background-color: var(--color-primary);
    color: var(--color-primary-offset);
}

.theme-secondary,
a.theme-secondary:link,
a.theme-secondary:visited,
a.theme-secondary:focus,
a.theme-secondary:active {
    background-color: var(--color-secondary);
    color: var(--color-secondary-offset);
}

.theme-tertiary,
a.theme-tertiary:link,
a.theme-tertiary:visited,
a.theme-tertiary:focus,
a.theme-tertiary:active {
    background-color: var(--color-tertiary);
    color: var(--color-tertiary-offset);
}

.theme-info,
a.theme-info:link,
a.theme-info:visited,
a.theme-info:focus,
a.theme-info:active {
    background-color: var(--color-info);
    color: var(--color-info-offset);
}

.theme-success,
a.theme-success:link,
a.theme-success:visited,
a.theme-success:focus,
a.theme-success:active {
    background-color: var(--color-success);
    color: var(--color-success-offset);
}

.theme-warning,
a.theme-warning:link,
a.theme-warning:visited,
a.theme-warning:focus,
a.theme-warning:active {
    background-color: var(--color-warning);
    color: var(--color-warning-offset);
}

.theme-danger,
a.theme-danger:link,
a.theme-danger:visited,
a.theme-danger:focus,
a.theme-danger:active {
    background-color: var(--color-danger);
    color: var(--color-danger-offset);
}

.theme-title,
a.theme-title:link,
a.theme-title:visited,
a.theme-title:focus,
a.theme-title:active {
    background-color: var(--color-title);
    color: var(--color-title-offset);
}

.theme-inherit,
a.theme-inherit:link,
a.theme-inherit:visited,
a.theme-inherit:focus,
a.theme-inherit:active {
    background-color: inherit;
    color: inherit;
}

.color-active {
    color: var(--color-active);
}

.color-background {
    color: var(--color-background);
}

.color-black {
    color: var(--color-black);
}

.color-white {
    color: var(--color-white);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-tertiary {
    color: var(--color-tertiary);
}

.color-info {
    color: var(--color-info);
}

.color-success {
    color: var(--color-success);
}

.color-warning {
    color: var(--color-warning);
}

.color-danger {
    color: var(--color-danger);
}

.color-title {
    color: var(--color-title);
}

.color-inherit {
    color: inherit;
}

.color-shade {
    color: var(--color-shade);
}

.color-button {
    color: var(--color-button);
}

/* Screen Size Helpers
body.w-4k
body.w-wqhd
body.w-qhd
body.w-fhd
body.w-hdp
body.w-hd
body.w-tab
body.w-mob
 */
body:not(.w-mob) .show-at-mobile {
    display: none;
}

body:not(.w-tab) .show-at-tablet {
    display: none;
}

body:not(.w-hd) .show-at-hd {
    display: none;
}

body:not(.w-hdp) .show-at-hdplus {
    display: none;
}

body:not(.w-fhd) .show-at-fullhd {
    display: none;
}

body:not(.w-qhd) .show-at-quadhd {
    display: none;
}

body:not(.w-wqhd) .show-at-widequadhd {
    display: none;
}

body:not(.w-4k) .show-at-4k {
    display: none;
}

body.w-mob .hide-at-mobile {
    display: none;
}

body.w-tab .hide-at-tablet {
    display: none;
}

body.w-hd .hide-at-hd {
    display: none;
}

body.w-hdp .hide-at-hdplus {
    display: none;
}

body.w-fhd .hide-at-fullhd {
    display: none;
}

body.w-qhd .hide-at-quadhd {
    display: none;
}

body.w-wqhd .hide-at-widequadhd {
    display: none;
}

body.w-4k .hide-at-4k {
    display: none;
}

.readable-content>* {
    max-width: var(--readability-line-limit);
}

/* Components */

.tabbed-content-content {
    z-index: 2;
}

.tabbed-content-content :first-child {
    border-top-left-radius: 0;
}

.tabbed-content-buttons .btn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transition-duration: 300ms;
}

.tabbed-content-buttons .btn:not(:first-child) {
    border-top-left-radius: 0;
}

.tabbed-content-buttons .btn:not(:last-child) {
    border-top-right-radius: 0;
}

.tabbed-content-buttons .btn.theme-active {
    padding: calc(2 * var(--padding));
    box-shadow: var(--elevation-5);
    z-index: 1;
}

.tabbed-content-buttons .btn:not(.theme-active) {
    background-color: var(--color-shade);
    color: var(--color-shade-offset);
    margin-top: calc(2 * var(--padding));
    box-shadow: inset var(--elevation-7);
}

/* Animations */

@keyframes animation-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes animation-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes animation-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes animation-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes animation-fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(.5);
        transform: scale(.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes keyframes-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes keyframes-pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: .4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes keyframes-wave {
    0% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@-webkit-keyframes keyframes-wave {
    0% {
        transform: translateX(-100%);
    }

    60% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes keyframes-circular-rotate {
    0% {
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(360deg);
    }
}

@-webkit-keyframes keyframes-circular-rotate {
    0% {
        transform-origin: 50% 50%;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes keyframes-circular-dash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}

@-webkit-keyframes keyframes-circular-dash {
    0% {
        stroke-dasharray: 1px, 200px;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -15px;
    }

    100% {
        stroke-dasharray: 100px, 200px;
        stroke-dashoffset: -125px;
    }
}

@keyframes horizontal-keyframes-indeterminate1 {
    0% {
        width: 0%;
    }

    25% {
        width: 40%;
    }

    50% {
        width: 100%;
    }

    51% {
        width: 0%;
    }

    75% {
        width: 20%;
    }

    100% {
        width: 100%;
    }
}

@-webkit-keyframes horizontal-keyframes-indeterminate1 {
    0% {
        width: 0%;
    }

    25% {
        width: 40%;
    }

    50% {
        width: 100%;
    }

    51% {
        width: 0%;
    }

    75% {
        width: 20%;
    }

    100% {
        width: 100%;
    }
}

@keyframes horizontal-keyframes-indeterminate2 {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 0%;
    }

    51% {
        width: 0%;
    }

    75% {
        width: 80%;
    }

    100% {
        width: 0%;
    }
}

@-webkit-keyframes horizontal-keyframes-indeterminate2 {
    0% {
        width: 0%;
    }

    25% {
        width: 50%;
    }

    50% {
        width: 0%;
    }

    51% {
        width: 0%;
    }

    75% {
        width: 80%;
    }

    100% {
        width: 0%;
    }
}

@keyframes horizontal-keyframes-buffer {
    0% {
        opacity: 1;
        background-position: 0 -23px;
    }

    50% {
        opacity: 0;
        background-position: 0 -23px;
    }

    100% {
        opacity: 1;
        background-position: -200px -23px;
    }
}

@-webkit-keyframes horizontal-keyframes-buffer {
    0% {
        opacity: 1;
        background-position: 0 -23px;
    }

    50% {
        opacity: 0;
        background-position: 0 -23px;
    }

    100% {
        opacity: 1;
        background-position: -200px -23px;
    }
}

@keyframes vertical-keyframes-indeterminate1 {
    0% {
        bottom: -35%;
        top: 100%;
    }

    60% {
        bottom: 100%;
        top: -90%;
    }

    100% {
        bottom: 100%;
        top: -90%;
    }
}

@-webkit-keyframes vertical-keyframes-indeterminate1 {
    0% {
        bottom: -35%;
        top: 100%;
    }

    60% {
        bottom: 100%;
        top: -90%;
    }

    100% {
        bottom: 100%;
        top: -90%;
    }
}

@keyframes vertical-keyframes-indeterminate2 {
    0% {
        bottom: -200%;
        top: 100%;
    }

    60% {
        bottom: 107%;
        top: -8%;
    }

    100% {
        bottom: 107%;
        top: -8%;
    }
}

@-webkit-keyframes vertical-keyframes-indeterminate2 {
    0% {
        bottom: -200%;
        top: 100%;
    }

    60% {
        bottom: 107%;
        top: -8%;
    }

    100% {
        bottom: 107%;
        top: -8%;
    }
}

@keyframes vertical-keyframes-buffer {
    0% {
        opacity: 1;
        background-position: -23px 0;
    }

    50% {
        opacity: 0;
        background-position: -23px 0;
    }

    100% {
        opacity: 1;
        background-position: -23px -200px;
    }
}

@-webkit-keyframes vertical-keyframes-buffer {
    0% {
        opacity: 1;
        background-position: -23px 0;
    }

    50% {
        opacity: 0;
        background-position: -23px 0;
    }

    100% {
        opacity: 1;
        background-position: -23px -200px;
    }
}

@keyframes linear-striped-loading {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100rem 0;
    }
}

@-webkit-keyframes linear-striped-loading {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100rem 0;
    }
}