:root {
	--site-background-color: #333333;
	--site-background-offset: #FFFFFF;
	--primary-color: #FF2E46;
	--primary-color-offset: #FFFFFF;
	--secondary-color: #2e54ff;
	--secondary-color-offset: #FFFFFF;
	--tertiary-color: #2e54ff;
	--tertiary-color-offset: #FFFFFF;
	--padding: 5px;
}

html, body {
	background-color: var(--site-background-color);
	color: var(--site-background-offset);
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.d-block { display: block; }
.d-flex { display: flex; }
.d-flexbox { display: flexbox; }
.d-inline { display: inline; }
.d-inlineblock { display: inline-block; }
.d-inlineflex { display: inline-flex; }
.d-inlineflexbox { display: inline-flexbox; }
